@using MudBlazor
@using SpendWise.Model
@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />

@* For dialogs *@
<MudDialogProvider />

@* For snackbars *@
<MudSnackbarProvider />

<div class="page">
    @if (_globalState != null && _globalState.CurrentUser != null)
    {
        <div class="sidebar">
            <NavMenu Username="@_globalState.CurrentUser.Username" LogoutHandler="LogoutHandler" />
        </div>
    }
    <main>
        <article class="content px-4">
            <CascadingValue Value="@_globalState">
                @Body
            </CascadingValue>
        </article>
    </main>
</div>


