@using MudBlazor
@using SpendWise.Model
@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
@* For dialogs *@
<MudDialogProvider />
@* For snackbars *@
<MudSnackbarProvider />

<div class="page">
    @if (_globalState?.CurrentUser != null)
    {
        <div class="sidebar">
            <NavMenu LogoutHandler="LogoutHandler" />
        </div>
    }
    <main class="@(_globalState?.CurrentUser == null ? "" : "mainBody")" >
        <article class="content px-4">
            <CascadingValue Value="@_globalState">
                @Body
            </CascadingValue>
        </article>
    </main>
</div>


