@using SpendWise.Model
<div class="top-row ps-3 navbar navbar-light">
    <div class="container-fluid">
        <NavLink class="navbar-brand" href="/dashboard">
            Dashboard
        </NavLink>
    </div>
    <div class="container-fluid">
        <NavLink class="navbar-brand" href="/transactions">
            Transactions
        </NavLink>
    </div>
    <div class="container-fluid">
        <NavLink class="navbar-brand" href="/debts">
            Debts
        </NavLink>
    </div>
</div>

@code {
    [Parameter]
    public string Username { get; set; }
    [Parameter]
    public EventCallback LogoutHandler { get; set; }

    private bool _collapseNavMenu { get; set; } = true;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
}
