@using SpendWise.Model


<style>
    .navlink .active {
        background-color: rgb(220 212 212 / 40%);
        width: 100%;
    }
    .navbar-light .navbar-brand {
        padding: 12px 28px 12px 16px !important;
    }
    .navbar-brand { 
        margin-right: 1rem;
    }
</style>

<div class="ps-3 navbar navbar-light">
    <div class="container-fluid navlink">
        <NavLink href="/dashboard" class="navbar-brand" Match="NavLinkMatch.Prefix">
            Dashboard
        </NavLink>
    </div>
    <div class="container-fluid navlink">
        <NavLink href="/transactions" class="navbar-brand"  Match="NavLinkMatch.Prefix">
            Transactions
        </NavLink>
    </div>
    <div class="container-fluid navlink">
        <NavLink href="/debts" class="navbar-brand" Match="NavLinkMatch.Prefix">
            Debts
        </NavLink>
    </div>
    <div class="container-fluid navlink">
        <NavLink href="/tags" class="navbar-brand" Match="NavLinkMatch.Prefix">
            Tags
        </NavLink>
    </div>
    <div class="container-fluid navlink">
        <NavLink class="navbar-brand" style="cursor: pointer" @onclick="ShowLogoutConfirmation">
            Logout
        </NavLink>
    </div>
    @* <div class="container-fluid navlink">
    <button class="" >
        Logout
    </button>
    </div> *@
</div>

@if (IslogOut)
{
    <div class="modal" tabindex="-1" role="dialog" style="display: block; background-color: rgba(0, 0, 0, 0.5); position: fixed; top: 0; left: 0; width: 100%; height: 100%; overflow: auto;">
        <div class="modal-dialog" role="document" style="margin-top: 20%; margin-left: auto; margin-right: auto; max-width: 400px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm Logout</h5>
                    <button type="button" class="close" @onclick="HideLogoutConfirmation">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to logout?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="HideLogoutConfirmation">No</button>
                    <button type="button" class="btn btn-primary" @onclick="LogoutHandler">Yes</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [CascadingParameter]
    private GlobalState _globalState { get; set; }
    [Parameter]
    public string Username { get; set; }
    [Parameter]
    public EventCallback LogoutHandler { get; set; }
    private bool IslogOut { get; set; } = false;

    private bool _collapseNavMenu { get; set; } = true;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

    private void ShowLogoutConfirmation()
    {
        IslogOut = true;
    }

    private void HideLogoutConfirmation()
    {
        IslogOut = false;
    }
}
